<div class="col-md-12 col-lg-12 col-sm-12 col-12 col-xl-12">
	<h2>Forgot Password</h2>
	<form name="form" (ngSubmit)="f.form.valid && generateOtp()" #f="ngForm" novalidate>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
			<label for="username">Username</label>
			<input id="username" type="text" class="form-control" name="username" [(ngModel)]="account.username" #username="ngModel" required [disabled]="otpStatus"/>
			<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !otp.valid }" *ngIf="otpStatus">
			<label for="otp">Otp</label>
			<input id="otp" type="password" class="form-control" name="password" [(ngModel)]="account.otp" #otp="ngModel" required />
				<div *ngIf="f.submitted && !otp.valid" class="help-block">Password is required</div>
		</div>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }" *ngIf="otpStatus">
			<label for="newPassword">Password</label>
			<input id="newPassword" type="password" class="form-control" name="newPassword" [(ngModel)]="account.newPassword" #newPassword="ngModel" required />
			<div *ngIf="f.submitted && !newPassword.valid" class="help-block">Password is required</div>
		</div>
		<div class="form-group">
			<button [disabled]="loading" class="btn btn-primary">Get OTP</button>
			<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		</div>
	</form>
</div>
