<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
	<!-- main menu header-->
	<div class="main-menu-header">
		<input type="text" placeholder="Search" class="menu-search form-control round"/>
	</div>
	<!-- / main menu header-->
	<!-- main menu content-->
	<div class="main-menu-content">
		<ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
			<li class=" nav-item"><a href="/"><i class="icon-home3"></i><span data-i18n="nav.dash.main" class="menu-title">Campaign</span></a>
			<ul class="menu-content">
                    <li class="active"><a href="dashboard.html" data-i18n="nav.dash.main" class="menu-item">Live Traffic</a></li>
                    <li><a href="bidRequest.html" data-i18n="nav.dash.main" class="menu-item">Bid Request</a></li>
                    <li><a href="sspWiseTraffic.html" data-i18n="nav.dash.main" class="menu-item">SSP Wise Traffic</a></li>
                    <!--<li class=""><a href="uniqueUser.html" data-i18n="nav.dash.main" class="menu-item">Unique User</a></li>-->
                    <li class=""><a href="userPersona.html" data-i18n="nav.dash.main" class="menu-item">User Persona</a></li>
                </ul>
			</li>
			<li class="nav-item"><a href="#"><i class="icon-eye-disabled"></i><span data-i18n="nav.disabled_menu.main" class="menu-title">Media</span></a></li>
			<li class=" nav-item"><a href="#"><i class="icon-android-funnel"></i><span data-i18n="nav.menu_levels.main" class="menu-title">Report</span></a></li>
		</ul>
	</div>
	<!-- /main menu content-->
	<!-- main menu footer-->
	<!-- include includes/menu-footer-->
	<!-- main menu footer-->
</div>
