<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
	<!-- main menu header-->
	<div class="main-menu-header">
		<input type="text" placeholder="Search" class="menu-search form-control round"/>
	</div>
	<!-- / main menu header-->
	<!-- main menu content-->
	<div class="main-menu-content">
		<ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
			<li class=" nav-item"><a routerLink="dashboard"><i class="icon-home3"></i>
				<span data-i18n="nav.dash.main" class="menu-title">Dashboard</span></a>
			</li>
			<li class="nav-item">
				<a href="javascript:void(0);">
					<i class="icon-home3"></i>
					<span data-i18n="nav.dash.main" class="menu-title">Manage Order</span>
				</a>
				<ul class="menu-content">
					<li>
						<a routerLink="/addOrder" data-i18n="nav.dash.main" class="menu-item">Add Order</a>
					</li>
					<li>
						<a routerLink="/orders" data-i18n="nav.dash.main" class="menu-item">Orders</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- /main menu content-->
	<!-- main menu footer-->
	<!-- include includes/menu-footer-->
	<!-- main menu footer-->
</div>
