<table class="table mb-0">
	<thead>
	<tr>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle text-center">Order No</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">AWB</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">Vendor</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">Merchant</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">Customer Name</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">Pin code</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">Type</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">Pickup Date</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">Delivery Date</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">Status</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">Last Modified</th>
		<th class="font-small-2 indigo darken-3 text-bold-400 valign-middle">Action</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	<tr>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate text-center" scope="row">
			<a class="blue-grey" href="javascript:void(0)">dsfsdf</a>
		</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">dfsdfsd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">cszcxzcxz</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">vsdfsdffd</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfdsfsfsdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sfsdfsfsdfdf</td>
		<td class="font-small-3 grey text-bold-300 valign-middle text-truncate">sdfsdfsf</td>
		<td class="font-small-3 grey">
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-bullhorn"></i>
			</button>
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm">
				<i class="icon-edit2"></i>
			</button>
		</td>
	</tr>
	</tbody>
</table>
