<div class="app-content content container-fluid">
	<div class="content-wrapper">
		<div class="content-header row"></div>
		<div class="content-body">
			<section class="flexbox-container">
				<!-- Modal -->
				<div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 box-shadow-2 p-0">
					<button type="button" class="btn btn-outline-primary block" data-backdrop="false" data-toggle="modal" data-keyboard="false" data-target="#loginModal">
						Login
					</button>
					<button type="button" class="btn btn-outline-primary block" data-backdrop="false" data-toggle="modal" data-keyboard="false" data-target="#registerModal">
						Register
					</button>
				</div>
			</section>
		</div>
	</div>
</div>

<div class="modal fade text-xs-left" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
	<app-login></app-login>
</div>
<div class="modal fade text-xs-left" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
	<app-register></app-register>
</div>
