<div class="app-content content container-fluid">
	<div class="content-wrapper">
		<div class="content-header row"></div>
		<div class="content-body">
			<section class="flexbox-container">
				<div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
					<div class="card border-grey border-lighten-3 m-0">
						<div class="card-header no-border">
							<div class="card-title text-xs-center">
								<div class="p-1"><img src="app-assets/images/logo/robust-logo-dark.png" alt="branding logo"></div>
							</div>
							<h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Login with RTB User</span></h6>
						</div>
						<div class="card-body collapse in">
							<div class="card-block">
								<app-login></app-login>
							</div>
						</div>
					
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

<!--<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">-->
	<!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">-->
		<!--<span class="navbar-toggler-icon"></span>-->
	<!--</button>-->
	<!--<a class="navbar-brand" href="#">Fixed navbar</a>-->
	<!--<div class="collapse navbar-collapse" id="navbarCollapse">-->
	<!--</div>-->
<!--</nav>-->
<!--<div class="container">-->
	<!--<div class="jumbotron">-->
		<!--<app-login></app-login>-->
	<!--</div>-->
<!--</div>-->

<!--<div class="container">-->
	<!--<div class="jumbotron">-->
		<!--<app-register></app-register>-->
	<!--</div>-->
<!--</div>-->

<!--<div class="container">-->
	<!--<div class="jumbotron">-->
		<!--<app-forgot-password></app-forgot-password>-->
	<!--</div>-->
<!--</div>-->
