
<main>
	<div class="main-container">
		<div class="transparent"></div>

		<!-------- ######### FRONT SECTION STARTS HERE ######### ------->

		<div class="container">
			<div class="row outer-head">
				<div class="col-sm-12 no-padding">
					<ul class="nav menu-list left add-margin">
						<li class="email">
							<a class="email-icon no-padding left" href="#">
								<img class="" src="images/icons/email.png" width="30px" alt="email">
								<span class="white">support@anteair.com</span>
							</a>
						</li>
						<li class="number">
							<a class="tel-icon no-padding left" href="#">
								<img class="" src="images/icons/phone.png" width="30px" alt="phone">
								<span class="white">+011-99999999</span>
							</a>
						</li>
					</ul>

					<ul class="nav menu-list add-margin">
						<li  class="nav-item"><span class="left white">if you already have a account?&nbsp;</span><a class="nav-link no-padding left blue" data-backdrop="true" data-toggle="modal" data-keyboard="false" data-target="#loginModal" href="javascript:void(0)">Login &nbsp;/ </a>
							<a class="nav-link no-padding left blue" href="javascript:void(0)" data-backdrop="true" data-toggle="modal" data-keyboard="true" data-target="#registerModal">&nbsp; Sign Up</a></li>
					</ul>
				</div>
			</div>
			<div class="row inner-head">
				<div class="left">
					<a class="logo-brand" href="#">
						<img src="images/logo/logo1.png" alt="logo">
					</a>
				</div>
				<div class="pull-right">
					<ul class="nav menu-list main-menu-list">
						<li  class="nav-item"><a class="nav-link grey-black weight-6" href="#">Features</a></li>
						<li  class="nav-item"><a class="nav-link grey-black weight-6" href="#">Channel Integrations</a></li>
						<li  class="nav-item"><a class="nav-link grey-black weight-6" href="#">Carrier Integrations</a></li>
						<li  class="nav-item"><a class="nav-link grey-black weight-6" href="#">Pricing</a></li>
						<li  class="nav-item"><a class="nav-link grey-black weight-6" href="#">Blog</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="jumbotron-custom">
						<h1>We care about your<br>bussiness</h1>
						<p>We believe number without meaning are useless. Our mission is to beome your trusted business<br>advisor. Our certified acountants are passionate about your sucess</p>
						<button class="btn btn-md text-uppercase blue-bg" role="button">About Us</button>
						<button class="btn btn-link btn-md btn-custom text-uppercase" role="button">Contact</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-------- ######### FRONT SECTION ENDS HERE ######### ------->

	<!-------- #########  	abhisheksharma8315@gmail.com SEPERATOR SECTION STARTS HERE ######### ------->

	<div class="seperator-custom">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2>Simplify your Shipping
						<a href="#" class="btn btn-lg btn-default free-trail-button weight-6" role="button">ShipRocket for FREE</a>
					</h2>
				</div>
			</div>
		</div>
	</div>

	<!-------- ######### SEPERATOR SECTION ENDS HERE ######### ------->

	<!-------- ######### SECOND SECTION STARTS HERE ######### ------->

	<div class="container add-bottom-pd">
		<span class="text-center block-title size-40 weight-5">Bussiness Shipping Made Easy</span>
		<span class="seperator">
                    <img src="images/icons/seperator.png">
                </span>
		<div class="row">
			<div class="col-lg-4 text-center block-item">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                        </span>
				<h4>Upload order in bulk</h4>
				<p class="weight-5">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!
					Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
			</div>
			<div class="col-lg-4 text-center block-item">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                        </span>
				<h4>Upload order in bulk</h4>
				<p class="weight-5">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!
					Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
			</div>
			<div class="col-lg-4 text-center block-item">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                        </span>
				<h4>Upload order in bulk</h4>
				<p class="weight-5">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!
					Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 text-center block-item">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                        </span>
				<h4>Upload order in bulk</h4>
				<p class="weight-5">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!
					Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
			</div>
			<div class="col-lg-4 text-center block-item">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                        </span>
				<h4>Upload order in bulk</h4>
				<p class="weight-5">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!
					Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
			</div>
			<div class="col-lg-4 text-center block-item">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                        </span>
				<h4>Upload order in bulk</h4>
				<p class="weight-5">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio!
					Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
			</div>
		</div>
	</div>

	<!-------- ######### SECOND SECTION STARTS HERE ######### ------->

	<!-------- ######### THIRD SECTION STARTS HERE ######### ------->

	<div class="container-block third-img">
		<div class="transparent"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 text-center text-capitalize white">
					<span class="size-34">Carrier Integration</span>
					<p class="size-18 lite-grey">Say Hello to the best courier servie in india</p>
					<span class="seperator">
                                <img src="images/icons/seperator2.png">
                            </span>
				</div>
				<div class="col-lg-6 text-center text-capitalize white">
					<span class="size-34">Sales Channel integration</span>
					<p class="size-18 lite-grey">Say Hello to the best courier servie in india</p>
					<span class="seperator">
                                <img src="images/icons/seperator2.png">
                            </span>
				</div>

				<div class="col-lg-6 col-md-12 col-sm-12 text-center logo-list">

						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/1.png">
							</a>
						</div>
						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/2.png">
							</a>
						</div>
						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/3.png">
							</a>
						</div>

				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 text-center logo-list">

						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/1.png">
							</a>
						</div>
						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/2.png">
							</a>
						</div>
						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/3.png">
							</a>
						</div>

				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 text-center logo-list">

						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/1.png">
							</a>
						</div>
						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/2.png">
							</a>
						</div>
						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/3.png">
							</a>
						</div>

				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 text-center logo-list">

						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/1.png">
							</a>
						</div>
						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/2.png">
							</a>
						</div>
						<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 logo-item">
							<a href="#">
								<img src="images/carrier/3.png">
							</a>
						</div>
				</div>
			</div>
		</div>
		<div class="row news-block orange-bg">
			<div class="col-lg-5 text-capitalize grey-black">
				<span class="size-40">In the news</span>
				<h4>shiprocket is exteremely proud of the trust and fame
					and it has earned from som of the most successful
					and reputed media oraganisations. check out what these
					organisations have to say about us
				</h4>
			</div>
			<div class="col-lg-7">
				<div class="col-lg-4">
					<a>
						<img src="images/news/1.png">
					</a>
				</div>
				<div class="col-lg-4">
					<a>
						<img src="images/news/2.png">
					</a>
				</div>
				<div class="col-lg-4">
					<a>
						<img src="images/news/3.png">
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-------- ######### THIRD SECTION STARTS HERE ######### ------->

	<!-------- ######### FOURTH SECTION STARTS HERE ######### ------->

	<div class="container">
		<span class="text-center block-title size-40 weight-5">Latest News</span>
		<span class="seperator">
                    <img src="images/icons/seperator.png">
                </span>
		<h4 class="text-center block-content size-20 lite-grey custom-h">We deliver true results, focussing on stragetic decision and practical actions tailored to our client's unique reality.
			<br>we engage all level of an organisation from day one.
		</h4>
		<div class="row">
			<div class="col-lg-4 block-item">
				<img class="new-img" src="images/news/news-1.jpg">
				<span class="size-18 grey-black block-detail weight-6">Making the most of distributed energy resources</span>
				<span class="block-detail blue size-16">
                            <p>
                                <i class="fa fa-clock-o"></i>
                                Sun, Feb 19
                            </p>
                            <p>
                                <i class="fa fa-comment"></i>
                                23 Comments
                            </p>
                        </span>
				<h4 class="lite-grey size-18 left custom-h">We're the leading consulting partner to the private equity industry and its key stakehold.
					we advice investors.
				</h4>
				<a class="btn btn-link" role="button">Read More</a>
			</div>
			<div class="col-lg-4 block-item">
				<img class="new-img" src="images/news/news-1.jpg">
				<span class="size-18 grey-black block-detail weight-6">Making the most of distributed energy resources</span>
				<span class="block-detail size-16 blue">
                            <p>
                                <i class="fa fa-clock-o"></i>
                                Sun, Feb 19
                            </p>
                            <p>
                                <i class="fa fa-comment"></i>
                                23 Comments
                            </p>
                        </span>
				<h4 class="lite-grey size-18 left custom-h">We're the leading consulting partner to the private equity industry and its key stakehold.
					we advice investors.
				</h4>
				<a class="btn btn-link" role="button">Read More</a>
			</div>
			<div class="col-lg-4 block-item">
				<img class="new-img" src="images/news/news-1.jpg">
				<span class="size-18 grey-black block-detail weight-6">Making the most of distributed energy resources</span>
				<span  class="block-detail blue size-16">
                            <p>
                                <i class="fa fa-clock-o"></i>
                                Sun, Feb 19
                            </p>
                            <p>
                                <i class="fa fa-comment"></i>
                                23 Comments
                            </p>
                        </span>
				<h4 class="lite-grey size-18 left custom-h">We're the leading consulting partner to the private equity industry and its key stakehold.
					we advice investors.
				</h4>
				<a class="btn btn-link" role="button">Read More</a>
			</div>
		</div>
	</div>

	<!-------- ######### THIRD SECTION STARTS HERE ######### ------->

	<!-------- ######### FOURTH SECTION STARTS HERE ######### ------->

	<div class="conatiner-block fourth-img">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 white text-right">
					<h4 class="text-uppercase test-head size-16 weight-6">Our Clients</h4>
					<span class="text-uppercase test-head size-24 left full-width weight-6">clients that trust<br>our services</span>
					<div class="col-lg-2 quote-left no-padding">
						<i class="fa fa-quote-left fa-4x" aria-hidden="true"></i>
					</div>
					<div class="col-lg-10">
						<h4 class="test-quote">The core values are the guiding principles that dictate behavior and action.
							There are many different type of core values and many different examples of core values
							depending upon the context.
						</h4>
					</div>
				</div>
				<div class="col-lg-4 white testimonial">
					<div class="test-block">
						<div class="col-lg-2 quote-left no-padding">
							<i class="fa fa-quote-left fa-4x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10">
							<h4 class="test-quote">
								There are many different type of core values and many different examples of core values
								depending upon the context.
							</h4>
							<span class="sign">
                                        <img src="">
                                    </span>
							<div class="text-right">
								<p class="text-uppercase"><strong>john smith</strong></p>
								<p>CTO of KLM</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 white testimonial">
					<div class="test-block">
						<div class="col-lg-2 quote-left no-padding">
							<i class="fa fa-quote-left fa-4x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-10">
							<h4 class="test-quote">
								There are many different type of core values and many different examples of core values
								depending upon the context.
							</h4>
							<span class="sign">
                                        <img src="">
                                    </span>
							<div class="text-right">
								<p class="text-uppercase"><strong>john smith</strong></p>
								<p>CTO of KLM</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-------- ######### THIRD SECTION STARTS HERE ######### ------->

	<!-------- ######### FOURTH SECTION STARTS HERE ######### ------->

	<div class="container-block dark-grey-bg ">
		<div class="transparent"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 white">
					<h3 class="size-20">About <a class="blue" href="#">Ante Air</a></h3>
					<span class="about-txt">
                                <span class="weight-6">Ante Air</span> is extremely proud of the trust and fame that it has earned from some of the most successful
                                and reputed media organisations. Check out what these organisation have to say about us.
                            </span>
				</div>
				<div class="col-lg-3 white">
					<h3 class="text-uppercase size-20">recent news</h3>
					<div class="rc-news left full-width">
						<div class="icon-sec">
							<img src="images/news/user.jpg" width="80px">
						</div>
						<div class="detail-sec white">
							<p>UK inflation rate falls in october</p>
							<span class="blue">
                                    <i class="fa fa-clock-o"></i>
                                        Feb 19, 2017
                                    </span>
						</div>
					</div>
					<div class="rc-news left full-width">
						<div class="icon-sec">
							<img src="images/news/user.jpg" width="80px">
						</div>
						<div class="detail-sec white">
							<p>UK inflation rate falls in october</p>
							<span class="blue">
                                    <i class="fa fa-clock-o"></i>
                                        Feb 19, 2017
                                    </span>
						</div>
					</div>
				</div>
				<div class="col-lg-2 white">
					<h3 class="text-uppercase size-20">links</h3>
					<ul class="list-group-custom size-16">
						<li class="">Home</li>
						<li class="">About</li>
						<li class="">Services</li>
						<li class="">Projects</li>
						<li class="">Pages</li>
						<li class="">Contact</li>
					</ul>
				</div>
				<div class="col-lg-4 white">
					<h3 class="text-uppercase size-20">news letter</h3>
					<div class="input-group news-ltr">
						<input type="text" class="form-control" placeholder="Email Address...">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="fa fa-paper-plane blue" aria-hidden="true"></i>
							</button>
						</div>
					</div>
					<h3 class="text-uppercase size-20">social media</h3>
					<div class="social-media">
						<ul class="sm-list">
							<li class="fb-icon">
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li class="tw-icon">
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="ln-icon">
								<a href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li class="gp-icon">
								<a href="#">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li  class="ig-icon">
								<a href="#">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
	<app-login></app-login>
</div>
<div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
	<app-register></app-register>
</div>
