<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="campaignAllocationModalLabel">Campaign Name #ID</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
			<form class="form">
				<div class="form-body">
					<div class="row">
						<div class="col-md-4">
							{{campaign}}
							<!--<div class="form-group">-->
								<!--<label for="campaignName">Campaign Name</label>-->
								<!--<input type="text" id="campaignName" class="form-control border-primary"-->
								       <!--placeholder="Campaign Name" name="CampaignName" [(ngModel)]="campaign" #campaignName="ngModel">-->
							<!--</div>-->
						</div>
					</div>
					<!--<div class="row">-->
					<!--<div class="col-md-6">-->
					<!--<div class="form-group">-->
					<!--<label for="userinput3">Username</label>-->
					<!--<input type="text" id="userinput3" class="form-control border-primary" placeholder="Username" name="username">-->
					<!--</div>-->
					<!--</div>-->
					<!--<div class="col-md-6">-->
					<!--<div class="form-group">-->
					<!--<label for="userinput4">Nick Name</label>-->
					<!--<input type="text" id="userinput4" class="form-control border-primary" placeholder="Nick Name" name="nickname">-->
					<!--</div>-->
					<!--</div>-->
					<!--</div>-->
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary">Save</button>
</div>
