<!--<app-advertiser-campaign></app-advertiser-campaign>-->
<!-- navbar-fixed-top-->
<app-header></app-header>

<!-- ////////////////////////////////////////////////////////////////////////////-->

<!-- main menu-->

<app-side-nav></app-side-nav>
<!-- / main menu-->

<div class="app-content content container-fluid">
	<div class="content-wrapper">
		<div class="content-header row">
			<div class="content-header-left col-md-6 col-xs-12 mb-1">
				<h5 class="content-header-title">Filter Currently Running Campaign</h5>
			</div>
		</div>
		<div class="content-body"><!-- Basic Tables start -->
			<div class="row">
				<div class='col-sm-3'>
					<div class="form-group">
						<div class='input-group' id=''>
							<span class="input-group-addon">Campaign Type : </span>
							<select class="form-control" name="campaignType" id="campaignType">
								<option value="">All</option>
								<option value="0">CPC</option>
								<option value="1">CPV</option>
								<option value="2">CPM</option>
								<option value="3">CPI</option>
								<option value="4">CPA</option>
							</select>
						
						</div>
					</div>
				</div>
				<div class='col-sm-3'>
					<div class="form-group">
						<div class='input-group'>
							<span class="input-group-addon" id="Todate-addon">Campaign Status : </span>
							<select class="form-control" name="campaignStatus" id="campaignStatus">
								<option value="0">Disable</option>
								<option value="1" selected>Active</option>
							</select>
						
						</div>
					</div>
				</div>
				<div class='col-sm-3 pull-right'>
					<div class="form-group">
						<div class="input-group">
							<button class="btn-blue btn pull-right">Create Campaign</button>
						</div>
					</div>
				</div>
				
				
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<h4 class="font-medium-5 blue-grey text-bold-300">Currently Running Campaign</h4>
							<a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
							<div class="heading-elements">
								<ul class="list-inline mb-0">
									<li><a data-action="reload"><i class="icon-reload"></i></a></li>
									<li><a data-action="expand"><i class="icon-expand2"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="card-body collapse in">
							<div class="table-responsive table-bordered table-hover">
								<app-advertiser-campaign></app-advertiser-campaign>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Basic Tables end -->
		</div>
	</div>
</div>
<div class="modal fade" id="campaignAllocationModal" tabindex="-1" role="dialog" aria-labelledby="campaignAllocationModalLabel">
	<div class="modal-dialog modal-custom" role="document">
		<div class="modal-content col-lg-12 col-xs-12 col-md-12 col-sm-12">
			<app-campaign></app-campaign>
		</div>
	</div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////-->
<app-footer></app-footer>
