<table class="table mb-0">
	<thead>
	<tr>
		<th class="font-small-3 indigo darken-3 text-bold-400 valign-middle">Id</th>
		<th class="font-small-3 indigo darken-3 text-bold-400 valign-middle">Name</th>
		<th class="font-small-3 indigo darken-3 text-bold-400 valign-middle">Type</th>
		<th class="font-small-3 indigo darken-3 text-bold-400 valign-middle">Rate</th>
		<th class="font-small-3 indigo darken-3 text-bold-400 valign-middle">Dates</th>
		<th class="font-small-3 indigo darken-3 text-bold-400 valign-middle">Updated</th>
		<th class="font-small-3 indigo darken-3 text-bold-400 valign-middle">Status</th>
		<th class="font-small-3 indigo darken-3 text-bold-400 valign-middle">Action</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let campaign of campaignList.campaigns; let first = first; let last = last">
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate" scope="row">
			<a class="blue-grey" href="javascript:void(0)">{{campaign.campaignId}}</a>
		</td>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate">{{campaign.campaignName}}</td>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate">{{campaign.campaignType}}</td>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate">{{campaign.advertiserRate}}
			<small>({{campaign.advertiserCurrency}})</small>
		</td>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate">{{campaign.campaignStartDate}} -
			{{campaign.campaignEndDate}}
		</td>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate">{{campaign.updatedOn}}</td>
		<td class="font-small-2 grey text-bold-300 valign-middle text-truncate">
			<!--{{campaign.campaignStatus}}-->
			<label class="switch" for="campaignStatus_{{campaign.campaignId}}">
				<input type="checkbox" id="campaignStatus_{{campaign.campaignId}}"
				       [checked]="campaign.campaignStatus == 1"
				       (change)="updateCampaignStatus(campaign.campaignId, campaign.campaignStatus)">
				<div class="slider round"></div>
			</label>
		</td>
		<td class="font-small-2 grey text-bold-300 valign-middle">
			<span class="dropdown dropdown-language nav-item" [ngClass]="{'dropup' : last }">
			<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
			        class="dropdown-toggle btn btn-indigo mr-0 mb-0 btn-secondary btn-sm" data-placement="bottom"
			        id="dropdown-flag">
				<i class="icon-edit"></i>Edit</button>
			<div aria-labelledby="dropdown-flag" class="dropdown-menu">
				<a href="javascript:void(0)" data-toggle="modal" data-target="#campaignAllocationModal"
				   (click)="getAdvertiserCampaign(campaign.campaignId,'ca')" class="dropdown-item">Campaign</a>
				<a href="/advertiser/targeting/{{campaign.campaignId}}" class="dropdown-item">Targeting</a>
				<a href="/advertiser/location/{{campaign.campaignId}}" class="dropdown-item">Location</a>
				<a href="/advertiser/creative/{{campaign.campaignId}}" class="dropdown-item">Creative</a>
			</div>
			</span>
			
			<button type="button" class="btn btn-teal mr-0 mb-0 btn-secondary btn-sm" data-toggle="modal"
			        data-placement="bottom" rel="tooltip" title="Apply Targeting"
			        data-target="#rtbCampaignTargetingModal"><i class="icon-edit2"></i></button>
			<button type="button" class="btn btn-amber mr-0 mb-0 btn-secondary btn-sm" data-toggle="modal"
			        data-placement="bottom" rel="tooltip" title="Allocate SSP" data-target="#campaignAllocationModal"><i
				class="icon-bullhorn"></i></button>
		</td>
	</tr>
	
	</tbody>
</table>
